h1 { 
    font-family: monospace; 
    color: #f5e7de; 
    background: #2b2724; 
    padding: 5px; 
}

.h1Error {
    font-family: monospace;
    color: #fa5454;
    background: #2b272400;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: monospace;
    color: #def0f5;
    background: #00000000;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.h2username {
    font-family: monospace;
    color: #f5e7de;
    background: #2b2724;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.h2chatMessage {
    font-family: monospace;
    color: #f5e7de;
    background: #2b2724;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

body {
    background: #030303;
}

.docroot {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.matchTextElement {
    font-family: monospace;
    color: #f5e7de;
    background: #2b2724;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: clamp(10em, 4cqi, 25em);
    margin: auto auto auto auto;
    height: 5vh;
    font-size: 1.35vh;
}

.tempSearchResult {
    font-family: monospace;
    color: #f5e7de;
    background: #2b272400;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto 10px auto;
}

.searchBar {
    position: sticky;
    top: 0;  
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2.5vh;
    padding: 10px;
    font-size: 2rem;

}

.results-wrapper-search {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  container-type: inline-size;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  color: #ccc;
}

td {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  background-color: #1a1a1a;
  color: #4da3ff;
  text-decoration: none;
  font-family: monospace;
  border-radius: 4px;

}

.tdusersearchresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #4da3ff;
    text-decoration: none;
    font-family: monospace;
    border-radius: 4px;
    text-overflow: ellipsis;
    font-size: clamp(0.875em, 4cqi, 0.95em);
}

td a {
  color: #4da3ff;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

tr:hover {
  background-color: #292828;
}

th {
  position: sticky;
  top: 0;
  background: #2a2a2a;
  color: #eee;
  text-align: left;
  padding: 10px 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 10;
}

